.tokenomics {
  width: 100%;
  padding: 80px 0;
}

.title {
  font-size: 96px;
  background: linear-gradient(90deg, #00fff2, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 40px;
}

.content {
  max-width: 1244px;
  margin: 0 auto;
} 